.github/**
.vscode/**
.vscode-test/**
out/**
media/screenshot.png
node_modules/**
src/**
.cursorrules
.gitignore
.node-version
.yarnrc
pnpm-lock.yaml
esbuild.js
vsc-extension-quickstart.md
**/biome.json
**/tsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
*.vsix
